<div id="tope">
    <header><img src="assets/img/fff.JPG" alt="" id="normal">Clientes</header>
    
</div>
<div id= "caja1"><!--menu de opciones vista card, lista , adicionar -->
    <a [routerLink]="['/vista']" routerLinkActive="router-link-active" >

        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
            <span class="vistac">VISTA CARD</span>
        </button>
    </a>
    <a [routerLink]="['/listado']" routerLinkActive="router-link-active" >
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
            <span class="listac">LISTA</span>
        </button>
    </a>
    <a [routerLink]="['/adicionar']" routerLinkActive="router-link-active" >
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          
            <span class="adicionarc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADICIONAR</span>
        </button>
    </a>
</div>
