#normal{
    width: 3%;
}
#vistaa{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-color: black;
}
#vistadatos{
    list-style: none;
    text-align: center;
}
#normal{
    width: 10%;
}