<form [formGroup]="formulario" (ngSubmit)="Crear()">
<div id="caja0">
    <ul>
        <li *ngFor="let item of lista">{{item}}</li>
    </ul>
    
    <ul>
        <li>
            <label for="nombre">Nombres</label>
            <input formControlName="nombre" type="text" required="true">
        </li>
        
        <li>
            <label for="apellido">Apellidos</label>
            <input formControlName="apellido" type="text" >
        </li>
        <li>
            <label for="apellido">Genero</label>
        </li>
        <label class="g">
            <input type="radio" value="hombre" formControlName="genero">
            <span>Hombre</span>
        </label>
        <label class="g">
            <input type="radio" value="mujer" formControlName="genero">
            <span>Mujer</span>
        </label>
        <label class="g">
            <input type="radio" value="otro" formControlName="genero">
            <span>Otro</span>
        </label>
        <li>
            <label for="pais">Pais</label>
            <input formControlName="pais" type="text" >
        </li>
        <li>
            <label for="ciudad">Ciudad</label>
            <input formControlName="ciudad" type="text" >
        </li>
        <li>
            
            <button type="button" (click)="Cancelar()">Cancelar</button>
            <button type="submit" >Crear</button>
        </li>
    </ul>
</div> 
</form>
